body{
	background-image: url("https://s-media-cache-ak0.pinimg.com/236x/29/60/9a/29609a3f59419c9663c123cbef50b685.jpg")
}

#top{
	color: teal;
	text-align: center;
}

#image{
	width: 273px;
	height:300px;
	border: 3px solid SlateBlue;
	margin: 0px;
	padding: 0;
	position:relative;
	left: 530px;
	box-shadow: 4px 4px 4px Navy;
}

#name{
	color: indigo;
	text-align: center;
}